doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title 육군기록정보관리단
    link(rel="shortcut icon" href="/public_img/favicon.ico" type="image/x-icon")
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/paper-kit.min.css')
    link(rel='stylesheet', href='/public_css/style.css')
  body
    .container
      #main-top
        section  

      
    block content
