ul.list-group.board-side-menu
  li.list-group-item
    a.btn.btn-outline-default(href='/board/list/notice', class=active==='notice'?'active':'') 공지사항
  li.list-group-item
    a.btn.btn-outline-default(href='/board/list/faq', class=active==='notice'?'faq':'') FAQ
  li.list-group-item
    a.btn.btn-outline-default(href='/board/list/qna', class=active==='notice'?'qna':'') 사여단 Q&A