- 
  var eNum = {
    rownum:0,
    no:1, id:2, item_name:3, created_date:4, create_org:5, 
    task_function:6, education_meeting:7, ceo_name:8, report_type:9, region_space:10,
    region:11, place:12, army:13, term:14, term_desc:15,
    description:16, keyword:17, event:18, reporter:19, person:20,
    person_group:21, image:22, created_at:23
  }