#main-top {
  background-image: url("/public_img/header_back.png");
  height: 150px;
}

#main-top section {
  background-image: url("/public_img/header_text.png");
  background-size: 600px 280px;
  background-position: 100px 30px;
  background-repeat: no-repeat;
  height: 150px;
}
